<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Eat That Burger!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center">
            <h3>Uneaten Burgers</h3>
            <ol>
                {{#each all}} {{#unless devoured}}
                <p>{{name}}</p>
                {{/unless}} {{/each}}
            </ol>
        </div>
        <div class="col-lg-6 text-center">
            <h3>Eaten Burgers</h3>
            <ol>
                {{#each all}} {{#if devoured}}
                <p>{{name}}</p>
                {{/if}} {{/each}}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form>
                <div class="form-group">
                    <label for="newBurger">New Burger</label>
                    <input type="text" class="form-control" id="newBurger" aria-describedby="new burger input">
                </div>
            </form>
            <button id="submit">Add Burger</button>
            <button id="devour">Eat da burger</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        console.log("doc ready");
        $("#submit").on("click", function (event) {
            $.post("/api", { name: $("#newBurger").val().trim() },function(){
                location.reload(true);
            }).then(function(){
                location.reload(true);
            });
        })
        $("#devour").on("click",function(event){
            $.ajax({
                url:"/api",
                type:"PUT",
                success:function(){
                    console.log("ate a burger");
                    location.reload(true);
                }
            }).then(function(){
                location.reload(true);
            });
        })
    })
</script>